{{ print "<!-- " .block.id " -->" | safeHTML }}
<section id="{{.block.id}}" class="main special">
	<div class="container">
		{{ if eq .params.backgroundpersection true }}
		<span class="image fit primary">
			{{ if eq .params.image_srcset true }}
				<img
				src="images/{{ with .block.picture }}{{ . }}{{ end }}-480w.jpg"
				srcset="images/{{ with .block.picture }}{{ . }}{{ end }}-480w.jpg 480w,
				images/{{ with .block.picture }}{{ . }}{{ end }}-736w.jpg 736w,
				images/{{ with .block.picture }}{{ . }}{{ end }}-980w.jpg 980w"
				sizes="(min-width: 980px) 688px, 100vw"
				alt="{{ .block.title }}"
				loading="lazy"
				>
			{{ else }}
				<img loading="lazy" src="images/{{ with .block.picture }}{{ . }}{{ end }}" alt="{{ .block.title }}">
			{{ end }}
		</span>
		{{ end }}
		<div class="content">
			<header class="major">
				<h2>{{ with .block.title}}{{ . | markdownify }}{{ end }}</h2>
			</header>
			<p>{{ with .block.description}}{{ . | markdownify }}{{ end }}</p>
			<ul class="icons-grid">
				{{ range .block.item }}
				<li>
					{{ if .link }}<a href="{{ .link }}" class="scrolly">{{ end }}<span class="icon major {{ .icontype }} {{ .icon }}"></span>
						<h3>{{ .title }}</h3>{{ if .link }}
					</a>{{ end }}
				</li>
				{{ end }}
			</ul>
		</div>
		{{ if .next }}
		<a href="#{{.next.id}}" class="goto-next scrolly" title="{{.next.title}}">{{ with .block.buttontext }}{{ . | markdownify }}{{ end }}</a>
		{{ end }}
	</div>
</section>
